/*main css styles*/

.intro {
  margin-top: 120px;
}

.content-paragraphs {
  background-color: #4e4b5c;
  margin-top: 20px;
}

.progressbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4e4b5c;
}

footer {
  text-align: center;
}

/* two column layout learned from w3schools https://www.w3schools.com/howto/howto_css_two_columns.asp */
.row {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.column {
  flex: auto;
}

.row button {
  margin-top: 80px;
  margin-left: 20px;
  padding: 18px 18px 18px 18px;
  background-color: #4e4b5c;
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
}

.row button a {
  color: white;
  padding: 20px 20px 20px 20px;
}

.row button a:hover {
  color: #ff8552;
}

.column img {
  float: right;
  margin-right: 20px;
  margin-top: 120px;
}
