/*main css styles*/
body {
  padding: 0;
  margin: 0;
}

#hero-content {
  /* Background image from https://www.mackinacisland.org/activities/arch-rock/ */
  background: url("../img/arch-rock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-content img {
  margin-top: 100px;
  margin-bottom: 25px;
}

#hero-content h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60pt;
  color: yellow;
}

/* two column layout learned from w3schools https://www.w3schools.com/howto/howto_css_two_columns.asp */
.row {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.column {
  flex: auto;
}

.row button {
  margin-top: 80px;
  margin-left: 20px;
  padding: 18px 18px 18px 18px;
  background-color: #4e4b5c;
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
}

.row button a {
  color: white;
  padding: 20px 20px 20px 20px;
}

.row button a:hover {
  color: #ff8552;
}

.column img {
  float: right;
  margin-right: 20px;
  margin-top: 120px;
}
